.sheet {
  min-height: calc(100vh - 300.78px);
}

.cell {
  position: absolute;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 0 4px 0 4px;
  line-height: normal;
  text-align: left;
  white-space: pre;
  overflow: hidden;

  &:hover {
    cursor: default;
  }

  &:focus {
    z-index: 1;
    min-width: fit-content;
    background-color: white;
  }

  &__editable {
    &:hover {
      cursor: text;
    }

    -webkit-box-shadow: 0px 2px 5px 1px rgba(105,105,105,1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(105,105,105,1);
    box-shadow: 0px 2px 5px 1px rgba(105,105,105,1);
  }

  &__uneditable {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
}